
h1 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: blue;
}

#h01 {
  color: #7FFF00;

}
#h02 {
  color: black;
  text-align: center;
}
#submit_trivia_answer_button {

}
.wrapper {
    text-align: center;
}


.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.button {
    position: absolute;
    top: 50%;
}
